body {

    font-family: 'Open Sans', sans-serif;
}

.header {
    background-image: url(../images/banner1.png);

    width: 1300px;
    height: 800px;

}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 500px;
    /* gap: 70px; */

}

.banner-content {
    gap: 24px;
}

.banner-heading {
    color: #151414;
    text-align: right;
    font-size: 65px;
    font-weight: 600;
    width: 525px;
    line-height: normal;
    /* gap: 24px; */

}


.banner-description {
    max-width: 520px;
    color: #444343;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}


.btn {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    margin-left: 375px;
    padding: 15px 15px;
}

/* Main Part start */


/* Section part-1 start */
.about {
    /* padding: 30px 30px 0px 150px; */
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 600px;

}

.section-title {
    color: #151414;
    text-align: right;
    font-size: 40px;
    font-weight: 600;
    width: 288px;
    margin-left: 120px;
}

.section-description {
    width: 400px;
    color: #444343;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    margin-left: 120px;
}

.about-item>ul>li {
    /* display: flex; */
    align-items: center;
    margin-left: 120px;
}

.about-img .profile {
    position: relative;
    right: 400px;
    bottom: 400px;
    width: 400px;
    height: 500px;
    display: flex;
    /* border-radius: 300px; */
    /* background: rgba(241, 91, 34, 0.20);  */

}

.profile {
    /* position: relative;
    right: 500px;
    bottom: 400px;*/
}

/* section-1 part end */


/* Start second part of main section */
.title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.skill-container {
    display: flex;
    justify-content: space-between;
    /* gap: 250px; */
    margin: auto 230px;
}

.skill {
    margin: auto;
    border-radius: 10px;
    background: #FFF;
}

.skill-title {
    color: #151414;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}

.skill-description {
    color: #737272;
    text-align: center;
    font-size: 20px;
    font-weight: 500;

}

/* End second part of main section */



/* Start third part of main section */
.second {
    background-image: url(../images/watch.png);
    background-repeat: no-repeat;
    height: 300px;
    margin: 150px 150px;
    /* margin-top: 130px; */
    border-radius: 8px;
    display: flex;
    gap: 5px;
}

.second-one {}

.text-description {
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    margin-left: 64px;
    width: 459px;

}

.second-btn {
    width: 160px;
    height: 64px;
    border: solid white;
    border-radius: 5px;
    background: #FFF;
    margin-left: 64px;
}

.text {
    color: #F15B22;
    text-align: center;
    font-size: 20px;
    font-weight: 600;


}

/* End third part of main section */




/* Footer part start */
footer {
    display: flex;
    background: #151414;
    height: 400px;
    margin-top: 130px;
    padding: 130px 200px;


}

.foot-column {
    width: 50%;
    
}

.foot-title {
    color: #F8F8F8;
    font-size: 45px;
    font-weight: 700;
}

.foot-description {
    width: 485px;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
}

.contract {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
}

.social-link a {
    margin-right: 20px;
}

.foot-head {
    margin-top: 50px;
    color: #FFF;
    font-size: 25px;
    font-weight: 600;
}
.address input[type="email"]{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #F3F3F3;
    border-radius: 8px;
    background: #151414;
    border: 1px solid #FFF;

}
.last{
    margin-left: 150px;
}


/* Footer part End */